@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin:0;
    padding: 0;
}

body {
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(184, 168, 168, 0.527),#dbd2d223),url(/img/slider/plantas-ornamentales.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

header {
    width: 1140px;
    position: fixed;
    top: 0; /* Coloca el header en la parte superior de la ventana */
    z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
}

/* Aquí quité lo que evitaba que el navbar se vea como debe ser*/

header a{
    color: #eee;
    margin-right: 40px;
}
nav a:hover {
    color: chartreuse; /* Cambia el color del texto al pasar el mouse */
    /* background-color: #ffffff; */
}
nav button {
    margin: 0 50px;
    padding: 12px 16px;
    background-color: green; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  nav button:hover {
    background-color: rgba(29, 139, 47, 0.521); /* Color de fondo del botón al hacer hover */
  }
  
.container {
    display:grid;
    grid-template-columns: repeat(2,50%);
    padding:20px;
    gap:10px;
    width: 1000px;
}

.box-info {
    color:#fff;
    display:flex;
    flex-direction: column;
    gap:50px;
}

.box-info > h1 {
    text-align: left;
    letter-spacing: 5px;
}

.data {
    display: flex;
    flex-direction: column;
    gap:25px
}

.data > p {
    font-size: 1rem;
}

.data > p > i {
    color: #28a324;
    margin-right: 10px;
    font-size:25px;
}

.links {
    display:flex;
    gap:15px;
}

.links > a {
    text-decoration: none;
    width: 40px;
    height: 40px;
    background: green;
    text-align: center;
    transition: .1s;
}

.links > a > i {
    color:#fff;
    line-height: 40px;
    font-size: 20px;
}

form {
    display:flex;
    flex-direction: column;
    text-align: center;
    gap:15px;
}

.input-box {
    position:relative;
}

.input-box > input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    outline:none;
    background: rgba(255, 255, 255, 0.726);
    border:3px solid transparent;
    letter-spacing: 1px;
    transition:.3s;
    color:#fff;
    
}

.input-box > input::placeholder,
.input-box > textarea::placeholder {
    color:#14121267;
    
}

.input-box > input:focus::placeholder,
.input-box > textarea:focus::placeholder {
    color:transparent;
}

.input-box > input:focus,
.input-box > textarea:focus {
    border-bottom:3px solid green;
    animation: shake .2s;
}

.input-box > textarea {
    width: 100%;
    height: 130px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.726);
    border:3px solid transparent;
    letter-spacing: 1px;
    outline: none;
    transition:.3s;
    color:#fff;
    letter-spacing: 1.5px;
}

.input-box > i {
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    right: 10px;
    color:rgba(255 255 255 / .3);
    transition: .3s;
}

.input-box > input:focus ~ i {
    color:#53990c;
}

form > button {
    width: 100%;
    padding: 10px;
    outline: none;
    background: green;
    color:#fff;
    border:none;
    transition: .1s;
    cursor: pointer;
    font-size: 1rem;
}

form > button:hover,
.links > a:hover {
    background: rgb(50, 206, 19);
}

@keyframes shake { 
    0%, 100% {transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);} 
    20%, 40%, 60%, 80% {transform: translateX(10px);} 
 }

@media screen and (max-width:600px) {
    .container {
        width: 95%;
        display: flex;
        flex-direction: column;
        gap:20px;
    }

    .box-info {
        gap:15px;
    }

    .box-info > h1 {
        font-size: 1.5rem;
    }
}