@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    background-color: #0e2b1d;
    color: #eee;
    font-family: Poppins;
    font-size: 20px;
}
header{
    height: 0px;
}
header img{
    margin-top: 125px ;
}
a{
    text-decoration: none;
}
nav {
    text-align: center;
    padding: 20px 0;      color: #000;
    margin-top: auto;
    display: fixed;
    margin-top: auto;      
    top: 0;
}
nav a{
    display: inline-block;
    margin: 0 70px; /* centrarlo o espacio que haya */
    text-decoration: none;
    color: whitesmoke;
    margin-top: 9px;
}
nav a img{
    width: 200px; /* Ajusta el ancho de la imagen según sea necesario */
    height: auto; /* Para mantener la proporción de la imagen */
    transition: filter 0.1s ease; /* Efecto de transición suave */
}
nav a:not(:last-child) {
  margin-right: 20px;
}
header a{
    color: #eee;
    margin-right: 40px;
}
nav a:hover {
    color: chartreuse; /* Cambia el color del texto al pasar el mouse */
    /* background-color: #ffffff; */
}
nav button {
    margin: 0 50px;
    padding: 12px 16px;
    background-color: green; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  nav button:hover {
    background-color: rgba(29, 139, 47, 0.521); /* Color de fondo del botón al hacer hover */
  }
  .slider-container {
    width: 100%;
    height: 350px;
    overflow: hidden;
}
.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 500%;
    height: 100%;
    animation: slide 20s infinite;
}
.slide {
    width: 100%;
    height: min-content;
    transition: transform 0.5s ease-in-out;
}

.slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@keyframes slide {
    0% { transform: translateX(0); }
    20%{ transform: translateX(-20%); }
    40% { transform: translateX(-40%); }
    60%{ transform: translateX(-60%); }
    80%{ transform: translateX(-80%); }
    100%{ transform: translateX(-80%); }
}
.img-item{
    width: 400px;
    height: 500px;
}
.contenedor{
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* oculto lo que queda fuera del .contenedor */
    contain: paint;
}
/* SECCION CONTENEDOR DE ITEMS */
.contenedor .contenedor-items{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap:30px;
    grid-row-gap: 30px;
    /* width: 60%; */
    width: 100%;
    transition: .3s;
}
.contenedor .contenedor-items .item {
    width: 292px; /* Tamaño fijo para todos los items */
    max-width: 100%; /* Para asegurarse de que el ancho máximo sea el mismo que el tamaño fijo */
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
    text-align: center;
}
.contenedor .contenedor-items .item .img-item {
    width: 100%; /* Hacer que la imagen ocupe todo el espacio disponible */
    max-width: 100%; /* Ajustar el ancho máximo de la imagen */
    height: auto; /* Para mantener la proporción de la imagen */
}
.contenedor .contenedor-items .item:hover{
    scale: 1.10;
}
.contenedor .contenedor-items .item .titulo-item{
    font-size: 17px;
    color: #1b1818;
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.contenedor .contenedor-items .item .precio-item{
    font-size: 17px;
    color: #1b1818;
    display: block;
    text-align: center;
    font-weight: bold;
}

.contenedor .contenedor-items .item .boton-item{
    font-size: 17px;
    display: block;
    margin: 10px auto;
    border: none;
    background-color: black;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}
/* seccion carrito */
.carrito{
    border: 1px solid #666;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
    /* Estilos para ocultar */
    margin-right: -100%;
    opacity: 0;
}
.carrito .header-carrito{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}
.carrito .carrito-item{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
}
.carrito .carrito-item img{
    margin-right: 20px;
}
.carrito .carrito-item .carrito-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.carrito .carrito-item .selector-cantidad{
    display: inline-block;
    margin-right: 25px;
}
.carrito .carrito-item .carrito-item-cantidad{
    border: none;
    font-size: 18px;
    background-color: transparent;
    display: inline-block;
    width:30px;
    padding: 5px;
    text-align: center;
}
.carrito .carrito-item .selector-cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}
.carrito .carrito-item .carrito-item-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}
.carrito .carrito-item .btn-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}
.carrito .carrito-item .btn-eliminar i{
    pointer-events: none;
}
.carrito-total{
    background-color: #f3f3f3;
    padding: 30px;
}
.carrito-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
.carrito-total .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.carrito-total .btn-pagar:hover{
    scale: 1.05;
}
footer {
    background-color: #14380b;
    color: #fff;
    padding: 1px;
    text-align: center;
}
.footer-contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.enlaces a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}
.redes-sociales a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}
.derechos {
    font-size: 13px;
    margin-top: 20px;
}
/* SECCION RESPONSIVE */
@media screen and (max-width: 850px) {
    .contenedor {
      display: block;
    }
    .contenedor-items{
        width: 100% !important;
    }
    .carrito{
        width: 100%;
    }
  }